body {
  font-family: 'Montserrat', sans-serif;
  color: #111111;
  background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

address {
  font-style: normal;
}

img {
  display: block;
}

button {
  border: none;
  background-color: transparent;
}

.container {
  max-width: 1106px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
  text-align: center;
  margin: 0 auto 50px;
}

/* HEADER */

.header {
  padding-top: 24px;
  padding-bottom: 32px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  max-width: 213px;
}

.header-logo-cursive {
  font-style: italic;
}

.header-logo-icon {
  stroke: #fd9222;
  fill: transparent;
}

.header-menu-list {
  display: flex;
  gap: 24px;
  margin-right: 90px;
}

.header-menu-item {
  padding: 0;
}

.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
}

.header-social-list {
  display: flex;
  gap: 14px;
}

.header-socials-item {
}

.header-socials-link {
}

.header-socials-logo {
  fill: transparent;
  stroke: #111;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-socials-logo:hover,
.header-socials-logo:active {
  stroke: #fd9222;
}

/* HERO */

.hero {
  padding-bottom: 80px;
}

.hero-wrap {
  background-color: #4c4c4c;
  padding: 381px 40px 40px;
  border-radius: 30px;
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url(./images/hero-bg.jpg);
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #ffffff;
  margin-bottom: 32px;
  max-width: 484px;
}

.hero-btn-wrap {
  display: flex;
  align-items: center;
}

.hero-buy-btn {
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  border-radius: 100px;
  background-color: #fd9222;
  border: none;
  padding: 14px 40px;
  margin-right: 14px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-buy-btn:hover,
.hero-buy-btn:active {
  background-color: #fcf1e0;
  color: #fd9222;
}

.hero-made-link {
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 40px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-made-link:hover,
.hero-made-link:active {
  border-color: #fd9222;
  color: #fd9222;
}

.hero-scroll-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  color: #ffffff;
  margin-left: auto;
}

/* FEATURES */

.features {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}
.feature-list {
  display: flex;
  gap: 88px;
  padding-left: 18px;
  padding-right: 18px;
}
.feature-list-item {
  width: calc((100% - 2 * 88px) / 3);
}
.feture-list-title {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 18px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-list-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/* INGREDIENTS */

.ingredients {
  padding-top: 120px;
  padding-bottom: 120px;
}
.ingredients-title {
  max-width: 412px;
  margin-bottom: 28px;
}
.orange-text {
  color: #fd9222;
}
.ingredients-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  max-width: 486px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 24px;
}
.ingredients-list-item {
  background-color: #fd9222;
  border-radius: 15px;
  width: calc((100% - 3 * 32px) / 4);
  padding: 28px 23px;
}
.ingredients-list-img {
  margin-bottom: 36px;
}
.ingredients-list-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;
  padding-left: 5px;
}

/* MADE */

.made {
  padding-top: 60px;
  padding-bottom: 60px;
}
.made-title {
  max-width: 205px;
}
.made-img {
}
.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
  margin-bottom: 28px;
}
.made-list {
}
.made-list-item {
  margin-bottom: 24px;
}

.made-list-item:last-child {
  margin: 0;
}

.made-list-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #111;
}

/* PRODUCTS */

.products {
}
.products-title {
  max-width: 196px;
}
.products-list {
  display: flex;
  flex-wrap: wrap;
}
.products-list-item {
}

.products-list-item:hover {
}

.products-list-img {
}
.products-list-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}
.products-list-text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}
.products-list-btn {
  font-weight: 600;
  font-size: 14px;
  color: #111;
}

/* SELLERS */

.sellers {
  padding-bottom: 60px;
  padding-top: 60px;
}
.sellers-title {
  max-width: 160px;
}
.sellers-list {
  display: flex;
  gap: 16px;
}
.sellers-list-item {
  width: calc((100% - 32px) / 3);
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}

.sellers-list-item:hover .sellers-cover-text {
  transform: translateY(0);
}

.sellers-list-img {
}
.sellers-list-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  padding: 28px 0;
  text-align: center;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-top: none;
  border-radius: 0 0 15px 15px;
}

.sellers-cover-wrap {
  position: relative;
  overflow: hidden;
}

.sellers-cover-text {
  position: absolute;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fff;
  top: 0;
  backdrop-filter: blur(15px);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  margin: 0 auto;
  padding: 0 40px;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 15px 15px 0 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* REVIEWS */

.reviews {
  padding-bottom: 60px;
  padding-top: 60px;
}
.reviews-title {
  max-width: 268px;
}
.reviews-list {
  display: flex;
}
.reviews-list-item {
}
.reviews-list-img {
}
.reviews-list-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
}
.reviews-list-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.reviews-btn {
  font-weight: 600;
  font-size: 18px;
  color: #111;
}

/* FOOTER */

.footer {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-top {
  display: flex;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 24px;
}

.footer-slogan {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
  max-width: 300px;
  margin-right: auto;
}
.footer-socials-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  color: #fff;
  margin-bottom: 14px;
}
.footer-socials-list {
  display: flex;
  gap: 14px;
}
.footer-socials-item {
}
.footer-socials-link {
}

.footer-socials-logo {
  fill: transparent;
  stroke: #fff;
}

.footer-soc {
  margin-right: 50px;
}

.footer-contacts {
}

.footer-contacts-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: #fff;
  margin-bottom: 14px;
}
.footer-contacts-address {
  display: flex;
  flex-direction: column;
}

.footer-contacts-address a:first-child {
  margin-bottom: 4px;
}

.footer-contacts-link {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer-bottom {
}

.backdrop {
  background-color: #11111175;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  background-color: #fafafa;
  width: 517px;
  min-height: 794px;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  right: 24px;
  top: 24px;
}

.modal-title {
  max-width: 298px;
  margin: 0 0 40px;
  text-align: left;
}

.modal-form {
}

.modal-label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.modal-input {
  width: 100%;
  height: 68px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding: 22px 24px;
  background-color: transparent;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #404040;
  outline: transparent;
  transition: border-color 300ms linear;
}

.modal-input:focus {
  border-color: #fd9222;
}

.modal-input:focus + .modal-field-icon {
  stroke: #fd9222;
}

.modal-input-wrap {
  position: relative;
  margin-bottom: 18px;
}

.modal-field-icon {
  fill: transparent;
  stroke: #404040;
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  transition: stroke 300ms linear;
}

.modal-comment {
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  background-color: transparent;
  outline: transparent;
  padding: 22px 24px 93px 24px;
  height: 137px;
  width: 100%;
  margin-bottom: 18px;
  transition: border-color 300ms linear;
  resize: none;
}

.modal-comment::placeholder {
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.modal-comment:focus {
  border-color: #fd9222;
}

.modal-privacy-check {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.modal-input-check {
  margin-right: 12px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
}

.privacy-check-text {
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
  font-weight: 400;
  font-size: 14px;
  display: block;
  display: flex;
  align-items: center;
}

.privacy-check-text span {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  margin-right: 12px;
  fill: transparent;
}

.modal-check-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-input-check:checked + .privacy-check-text span {
  background-color: #fd9222;
  border: none;
  fill: #fafafa;
}

.modal-check-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fd9222;
}

.modal-submit-btn {
  display: flex;
  border-radius: 100px;
  padding: 14px 40px;
  width: 117px;
  height: 45px;
  background-color: #fd9222;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
}
